black==26.3.0
blinker==1.9.0
click==8.3.1
flake8==7.3.0
Flask==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pycodestyle==2.14.0
pyflakes==3.4.0
pytokens==0.4.1
Werkzeug==3.1.6
