{% extends "base.html" %}

{% block content %}

<h2>Scan History</h2>

<table class="table table-striped">

<thead>
<tr>
<th>ID</th>
<th>Language</th>
<th>Code</th>
<th>Date</th>
<th>Title</th>
<th>Severity</th>
<th>Line</th>
<th>Explanation</th>
</tr>
</thead>

<tbody>

{% for finding in history %}

<tr>
<td>{{ finding[0] }}</td>
<td>{{ finding[1] }}</td>
<td>{{ finding[2][:40] }}...</td>
<td>{{ finding[3] }}</td>
<td>{{ finding[6] }}</td>

<td>
<span class="badge
{% if finding[7] == 'High' %}bg-danger
{% elif finding[7] == 'Medium' %}bg-warning
{% else %}bg-secondary
{% endif %}">
{{ finding[7] }}
</span>
</td>

<td>{{ finding[8] }}</td>
<td>{{ finding[9] }}</td>

</tr>
{% endfor %}

</tbody>
</table>

{% endblock %}