<!DOCTYPE html>
<html>
<head>
    <title>CodeProtect AI</title>
</head>
<body>

<h1>CodeProtect AI</h1>

<form action="/analyze" method="POST">

    <label>Language:</label>
    <select name="language">
    <option value="python">Python</option>
    <option value="javascript">JavaScript</option>
    </select>

    <br><br>

    <textarea name="code" rows="20" cols="80"
    placeholder="Paste code here"></textarea>

    <br><br>

    <button type="submit">Analyze Code</button>

    </form>

</body>
</html>